@font-face {
    font-family: myFirstFont;
    src: url(fonts/Shabnam.ttf);
}

* {
    margin: 0;
    padding: 0;

}

body {
    direction: rtl;
    font-family: "myFirstFont";
    font-size: 14px;

}

img {
    width: 70%;
}

h4 {
    margin-right: 15px;
    margin-top: 10px;
    color: #B5B5B5;
    width: 50%;
    height: 25%;
}

p {
    margin-right: 15px;
    margin-top: 3px;
    width: 50%;
    height: 25%;
    color: black;
    font-size: 11px;

}

.prple {
    color: #7D67E5;
    display: flex;
    flex-direction: row;
}

.red {
    color: #ED4556;
    display: flex;
    flex-direction: row;
}

.green {
    color: #24CE96;
    display: flex;
    flex-direction: row;
}

.navbar {
    position: absolute;
    background-color: #F5F5F5;
    width: 85vw;
    left: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-items {
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2),
        0 4px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 18vw;
    height: 11vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.nav-items-picture {
    border-radius: 5px 0px 0px 5px;
    background-color: #7B62E4;
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav-items-picture2 {
    border-radius: 5px 0px 0px 5px;
    background-color: #FDC439;
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav-items-picture3 {

    border-radius: 5px 0px 0px 5px;
    background-color: #F3467B;
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-items-picture4 {
    border-radius: 5px 0px 0px 5px;
    background-color: #26C1F7;
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.menu {
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2),
        0 0px 12px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    background-color: #F5F5F5;
    position: absolute;
    width: 15vw;
    height: 100vh;
}

.container {
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #F5F5F5;
    width: 85vw;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;


}

.biggerbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #6F69E4;
    width: 55vw;
    height: 45vh;
    margin-right: 25px;
    border-radius: 10px;

}

.biggerbox2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 26vw;
    height: 45vh;
    margin-right: 10px;
    border-radius: 10px;
}


.downbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 55vw;
    height: 36vh;
    position: static;
    margin-right: 25px;
    border-radius: 10px;
}

.downbox2 {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 26vw;
    height: 36vh;
    margin-right: 10px;
    border-radius: 10px;
}